@use "Variables";

@mixin Size($width: 1vw,$height: 1vw){
    width: $width;
    height: $height;
  }
  @mixin font_size($size: 1vw){
    font-size: $size;
  }
  @mixin translateTrans($x: 100%, $y: 100%){
    transform: translate($x, $y);
  }
  @mixin direction($side: column){
    flex-direction: $side;
  }
  @mixin align($side: left){
    text-align: $side;
  }
  @mixin padding($top: 0, $right: 0, $bottom: 0 ,$left: 0){
    padding: $top $right $bottom $left;
  }
  @mixin margin($top: 0, $right: 0, $bottom: 0 ,$left: 0){
    margin: $top $right $bottom $left;
  }
  @mixin Color($color: Variables.$white){
    color: $color;
  }
  @mixin bgColor($color: Variables.$white){
    background-color: $color;
  }
  @mixin decoratedText($decorate: none){
    text-decoration: $decorate;
  }