.rowDisplay, .ColumnDisplay, #yellowButtonForSideBar, .imgAvailable, .imgProfile, article, #yellowButton, section {
  display: flex;
}

.ColoredBox, #yellowButtonForSideBar, .thBGcolored, #yellowButton {
  background-color: #FFB400;
}

body {
  background-color: #e5e5e5;
  font-size: 48px;
  font-family: Inter;
}

section {
  flex-direction: row;
  content: "";
  clear: both;
}

header {
  background-color: #FFFFFF;
  width: 63vw;
  height: 27vw;
  padding: 3% 3% 3% 3%;
  margin: 0% 0% 0% 2%;
  text-align: left;
  font-size: 2.5vw;
  color: #2B2B2B;
}

#yellowSpan {
  color: #FFB400;
}

.img {
  width: 15vw;
  height: 28vw;
}

.imgHeader {
  float: right;
}

h6 {
  color: #767676;
  font-size: 1vw;
  margin: 2% 0% 0% 0%;
  padding: 0% 0% 2% 0%;
}

#yellowButton {
  padding: 1% 1% 1% 1%;
  border-radius: 10px;
  font-size: 0.8vw;
  border: 1px solid #FFFFFF;
}

article {
  flex-direction: column;
  background-color: #FFFFFF;
  width: 50%;
  height: 100%;
  display: flex;
}

#ProfInfo {
  font-size: 1.4vw;
  align-items: center;
  text-align: center;
}

.imgProfile {
  width: 10vw;
  height: 10vw;
  justify-content: center;
  transform: translate(90%, 30%);
}

.imgAvailable {
  width: 2vw;
  height: 2vw;
  transform: translate(840%, 20%);
}

#ItemListofIDs {
  display: list-item;
}

.imgIDs {
  margin: 0% 1% 0% 1%;
  width: 2vw;
  height: 2vw;
}

.Lines {
  width: 70%;
  height: 0%;
  border-color: #F0F0F6;
}

.Tables {
  text-align: start;
  padding: 0% 0% 0% 15%;
  width: 80%;
  height: 0%;
  font-size: 2vw;
}

.EndAligntd {
  text-align: end;
}

tr {
  font-size: 1.5vw;
  color: #2B2B2B;
}

th {
  display: inline;
  text-align: left;
}

td {
  text-align: left;
}

#greenText {
  color: #7EB942;
}

.SndTabletd {
  padding: 0% 0% 0% 40%;
}

.SidebarCaption {
  text-align: justify;
  padding: 0% 0% 0% 20%;
}

#yellowButtonForSideBar {
  width: 70%;
  height: 0%;
  font-size: 1.5vw;
  margin: 0% 0% 4% 15%;
  padding: 0% 0% 0% 15%;
  border: 1px solid #FFFFFF;
  padding-block: 2%;
}

#Vector {
  width: 1vw;
  height: 1vw;
  padding: 0% 0% 0% 10%;
  margin: 2% 0% 0% 0%;
}

.ColumnDisplay {
  flex-direction: column;
  text-align: center;
  font-size: 3vw;
}

.ContentCaptions {
  margin: 3% 0% 0% 0%;
  font-size: 3vw;
  text-align: center;
}

.Contenttr {
  background-color: #FFFFFF;
}

.Contenttd {
  text-align: center;
  width: 33%;
  height: 0;
  font-size: 2vw;
  padding: 4% 0% 0% 0%;
}

.TableSpacing {
  border-spacing: 1vw;
}

.imgIcons {
  width: 5vw;
  height: 5vw;
}

a:link {
  color: #FFB400;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: purple;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #7EB942;
  background-color: transparent;
  text-decoration: underline;
}

.rowDisplay {
  flex-direction: row;
  padding: 3% 0% 2% 1%;
  margin: 0% 0% 0% 1%;
  font-size: 1.5vw;
  background-color: #FFFFFF;
  border-bottom: 1px solid #767676;
}

.FirstSection {
  width: 60%;
  height: 0%;
  text-align: center;
}

.leftAlign {
  margin: 0% 0% 0% 10%;
  text-align: left;
}

.ColoredBox {
  color: #FFFFFF;
}

pre {
  font-family: Inter;
  font-size: 1vw;
  margin: 5% 0% 0% 0%;
}

.ShapeImg {
  width: 1vw;
  height: 1vw;
}

#Ellipse16 {
  transform: translate(3000%, 200%);
}

#Rectangle51 {
  transform: translate(5800%, 200%);
}

#SndEllipse16 {
  transform: translate(-300%, 2550%);
}

#Rectangle52 {
  transform: translate(2000%, 2000%);
}

#Ellipse13 {
  transform: translate(3800%, 2400%);
}

#Polygon1 {
  transform: translate(5300%, 2500%);
}/*# sourceMappingURL=style.css.map */