@use "Variables";
@use "Mixins";

body{
  background-color: Variables.$bgColor;
  @include Mixins.font_size(48px);
  font-family: Variables.$Inter_font;
}
section {
  display: flex;
  @include Mixins.direction(row);
  content: "";
  clear: both;
}
header {
  background-color: Variables.$white;
  @include Mixins.Size(63vw,27vw);
  @include Mixins.padding(3%,3%,3%,3%);
  @include Mixins.margin(0%,0%,0%,2%);
  @include Mixins.align;
  @include Mixins.font_size(2.5vw);
  color: Variables.$titleColor;
}
#yellowSpan{
  color: Variables.$yellow;
}
.img {
  @include Mixins.Size(15vw,28vw);
}
.imgHeader{
  float: right;
}
h6 {
  color: Variables.$textGray;
  @include Mixins.font_size;
  @include Mixins.margin(2%,0%,0%,0%);
  @include Mixins.padding(0%,0%,2%,0%);
}
#yellowButton{
  @include Mixins.padding(1%,1%,1%,1%);
  border-radius: 10px;
  @include Mixins.font_size(0.8vw);
  display: flex;
  background-color: Variables.$yellow;
  border: 1px solid Variables.$white;
}
article {
  display: flex;
  @include Mixins.direction;
  background-color: Variables.$white;
  @include Mixins.Size(50%,100%);
}
#ProfInfo{
  @include Mixins.font_size(1.4vw);
  align-items: center;
  @include Mixins.align(center);
}
.imgProfile{
  @include Mixins.Size(10vw,10vw);
  display: flex;
  justify-content: center;
  @include Mixins.translateTrans(90%, 30%);
}
.imgAvailable{
  @include Mixins.Size(2vw,2vw);
  @include Mixins.translateTrans(840%, 20%);
  display: flex;
}
#ItemListofIDs{
  display: list-item;
}
.imgIDs{
  @include Mixins.margin(0%,1%,0%,1%);
  @include Mixins.Size(2vw,2vw);
}
.Lines{
  @include Mixins.Size(70%,0%);
  border-color: Variables.$LineColor;
}
.Tables{
  @include Mixins.align(start);
  @include Mixins.padding(0%,0%,0%,15%);
  @include Mixins.Size(80%,0%);
  @include Mixins.font_size(2vw);
}
.thBGcolored{
  background-color: Variables.$yellow;
}
.EndAligntd{
  @include Mixins.align(end);
}
tr{
  @include Mixins.font_size(1.5vw);
  color: Variables.$titleColor;
}
th{
  display: inline;
  @include Mixins.align;
}
td{
  @include Mixins.align;
}
#greenText{
  color: Variables.$textGreen;
}
.SndTabletd{
  @include Mixins.padding(0%,0%,0%,40%);
}
.SidebarCaption{
  @include Mixins.align(justify);
  @include Mixins.padding(0%,0%,0%,20%);
}
#yellowButtonForSideBar {
  @include Mixins.Size(70%,0%);
  @include Mixins.font_size(1.5vw);
  @include Mixins.margin(0%,0%,4%,15%);
  @include Mixins.padding(0%,0%,0%,15%);
  display: flex;
  background-color: Variables.$yellow;
  border: 1px solid Variables.$white;
  padding-block: 2%;
}
#Vector{
  @include Mixins.Size;
  @include Mixins.padding(0%,0%,0%,10%);
  @include Mixins.margin(2%,0%,0%,0%);
}
.ColumnDisplay{
  display: flex;
  @include Mixins.direction;
  @include Mixins.align(center);
  @include Mixins.font_size(3vw);
}
.ContentCaptions{
  @include Mixins.margin(3%,0%,0%,0%);
  @include Mixins.font_size(3vw);
  @include Mixins.align(center);
}
.Contenttr{
  background-color: Variables.$white;
}
.Contenttd{
  @include Mixins.align(center);
  @include Mixins.Size(33%,0);
  @include Mixins.font_size(2vw);
  @include Mixins.padding(4%,0%,0%,0%);
}
.TableSpacing{
  border-spacing: 1vw;
}
.imgIcons{
  @include Mixins.Size(5vw,5vw);
}
a:link {
  color: Variables.$yellow;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: Variables.$purple;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: Variables.$red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: Variables.$textGreen;
  background-color: transparent;
  text-decoration: underline;
}
.rowDisplay{
  display: flex;
  @include Mixins.direction(row);
  @include Mixins.padding(3%,0%,2%,1%);
  @include Mixins.margin(0%,0%,0%,1%);
  @include Mixins.font_size(1.5vw);
  background-color: Variables.$white;
  border-bottom: 1px solid Variables.$textGray;
}
.FirstSection{
  @include Mixins.Size(60%,0%);
  @include Mixins.align(center);
}
.leftAlign{
  @include Mixins.margin(0%,0%,0%,10%);
  @include Mixins.align;
}
.ColoredBox{
  color: Variables.$white;
  background-color: Variables.$yellow;
}
pre{
  font-family: Variables.$Inter_font;
  @include Mixins.font_size;
  @include Mixins.margin(5%,0%,0%,0%);
}
.ShapeImg{
  @include Mixins.Size(1vw,1vw);
}
#Ellipse16{
  @include Mixins.translateTrans(3000%, 200%);
}
#Rectangle51{
  @include Mixins.translateTrans(5800%, 200%);
}
#SndEllipse16{
  @include Mixins.translateTrans(-300%, 2550%);
}
#Rectangle52{
  @include Mixins.translateTrans(2000%, 2000%);
}
#Ellipse13{
  @include Mixins.translateTrans(3800%, 2400%);
}
#Polygon1{
  @include Mixins.translateTrans(5300%, 2500%);
}