$bgColor: #e5e5e5;
$white: #FFFFFF;
$gray: #2B2B2B;
$yellow:  #FFB400;
$textGray: #767676;
$textGreen: #7EB942;
$LineColor: #F0F0F6;

body{
  background-color: $bgColor;
  font-size: 48px;
  font-family: Inter;
}
section {
  display: flex;
  flex-direction: row;
  content: "";
  clear: both;
}
header {
  background-color: $white;
  width: 70%;
  padding: 1.5%;
  height: 10%;
  margin-left: 1%;
  text-align: left;
  font-size: 2.5vw;
  color: $gray;
}
#yellowSpan{
  color: $yellow;
}
.img {
  width: 15vw;
  height: 28vw;
}
.imgHeader{
  float: right;
}
h6{
  color: $textGray;
  font-size: 1vw;
}
#yellowButton{
  padding: 1%;
  border-radius: 10px;
  font-size: 0.8vw;
  display: flex;
  background-color: $yellow;
  border: 1px solid white;
}
article {
  background-color: $white;
  width: 30%;
  height: 90vw;
}
#ProfInfo{
  font-size: 1.4vw;
  align-items: center;
  text-align: center;
}
.imgProfile{
  width: 10vw;
  height: 10vw;
  display: flex;
  justify-content: center;
  transform: translate(90%, 30%);
}
.imgAvailable{
  width: 2vw;
  height: 2vw;
  transform: translate(840%, 20%);
  display: flex;
}
#ItemListofIDs{
  display: list-item;
}
.imgIDs{
  width: 2vw;
  height: 2vw;
}
.Lines{
  width: 70%;
  border-color: $LineColor;
}
.Tables{
  text-align: start;
  padding-left: 15%;
  width: 80%;
  font-size: 2vw;
}
.thBGcolored{
  background-color: $yellow;
}
.EndAligntd{
  text-align: end;
}
tr{
  font-size: 1.5vw;
  color: $gray;
}
th{
  display: inline;
  text-align: left;
}
td{
  text-align: left;
}
#greenText{
  color: $textGreen;
}
.SndTabletd{
  padding-left: 40%;
}
caption{
  text-align: justify;
  padding-left: 20%;
}
#yellowButtonForSideBar {
  width: 70%;
  margin-left: 15%;
  font-size: 1.5vw;
  padding-left: 15%;
  display: flex;
  background-color: #FFB400;
  border: 1px solid white;
  padding-block: 2%;
  margin-bottom: 4%;
}
#Vector{
  width: 1vw;
  height: 1vw;
  padding-left: 10%;
  margin-top: 2%;
}